[Unit]
Description=Quiet Fan Controller for Radxa HAT on Pi5
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/local/bin/penta_fan.py
Restart=always
KillSignal=SIGINT
User=root

[Install]
WantedBy=multi-user.target
